// Section Banner

.section-banner{
	font-family: $default-font;
}

.section-banner__slider{
	position: relative;

	.slick-arrow{
		position: absolute;
		text-indent: -99999px;
		top: 48.4%;
		width: 51px;
		height: 51px;
		background: #fefefe;
		border-radius: 50%;
		cursor: pointer;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		z-index: 3;
		transition: all 0.3s ease;

		&:hover{
			transform: scale(1.1);
			transition: all 0.3s ease;
		}
	}

	.slick-prev{
		left: 29px;
		background-image: url(../img/left-arrow.png);
	}

	.slick-next{
		right: 29px;
		background-image: url(../img/right-arrow.png);
	}

	.slick-dots {
		position: absolute;
		left: 50%;
		bottom: -26px;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}

	.slick-dots li {
		display: inline-block;
		margin: 0 5px;
	}

	.slick-dots li button {
		background-color: $hover-color-blue;
		opacity: .5;
		outline: none;
		border: none;
		text-indent: -9999px;
		border-radius: 50%;
		width: 12px;
		height: 12px;
		cursor: pointer;
	}

	.slick-dots .slick-active button {
		opacity: 1;
	}
}

.section-banner__item{
	position: relative;
	text-align: center;
}

.banner__item__img{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.section-banner__content{
	position: absolute;
	width: 674px;
	top: 48.4%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section-banner__heading{
	display: inline-block;
	font-weight: 600;
	font-size: 63px;
	line-height: 65px;
	color: $color-white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.16);
	margin-bottom: 28px;
}

.section-banner__text{
	display: inline-block;
	font-size: 23px;
	line-height: 37px;
	width: 56%;
	color: $color-white;
	text-align: center;
	margin-bottom: 54px;
}

.banner__box-link{
	text-align: center;
}

.section-banner__link{
	display: inline-block;
	background-color: transparent;
	color: $color-white;
	border: 3px solid $color-white;
	border-radius: 5px;
	font-weight: 600;
	font-size: 26px;
	line-height: 24px;
	padding: 19px 40px;
	transition: all 0.3s ease;

	&:hover{
		background-color: rgba(255,255,255,.2);
		transition: all 0.3s ease;
	}
}

// Section Team

.section-team{
	padding: 100px 0 102px;
}

.section-team__heading{
	text-align: center;
	color: $team-color-grey;
	font-size: 42px;
	line-height: 44px;
	font-weight: 400;
}

.section-team__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 133px;
}

.section-team__item{
	width: 23%;
}

.section-team__photo{
	position: relative;
	width: 75%;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 65px;

	&:before{
		content: "+";
		display: inline-block;
		color: #f46d6d;
		opacity: 0;
		font-size: 85px;
		font-family: $default-font;
		font-weight: 800;
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(-41%, -51%);
		transition: all 0.3s ease;
	}

	&:hover:before{
		opacity: 1;
		left: 50%;
		transition: all 0.3s ease;
	}
}

.team-photo__response{
	height: 0;
	padding-top: 100%;
}

%team-item-text{
	text-align: center;
	color: #4e525d;
	line-height: 24px;
}

.section-team__name{
	@extend %team-item-text;
	font-size: 22px;
	margin-bottom: 4px;
}

.section-team__position{
	@extend %team-item-text;
	font-size: 14px;
	margin-bottom: 21px;
}

.section-team__about{
	@extend %team-item-text;
	text-align: justify;
	text-align-last: center;
	font-size: 14px;
	line-height: 26px;
}

// Section Plans

.section-plans{
	background-color: #f1f1f1;
	padding: 118px 0 100px;
}

.section-plans__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section-plans__item{
	width: 31.7%;
	border-radius: 3px;
	border: 1px solid #ecf0f1;
	background-color: #f8f9fb;
}

.section-plans__name{
	background-color: #485460;
	color: #fff;
	font-size: 26px;
	line-height: 48px;
	border-radius: 3px 3px 0 0;
	text-align: center;
	padding: 12px 0 15px;

	&-hover{
		background-color: $hover-color-blue;
	}
}



.section-plans__price{
	color: #485460;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	padding: 12px 0 8px;
	border-bottom: 1px solid #ecf0f1;
}

.section-plans__string{
	text-align: center;
	background-color: #fff;
	color: #8c9299;
	font-size: 14px;
	line-height: 45px;
	padding-right: 10px;
	border-bottom: 1px solid #ecf0f1;
}

.section-plans__btn{
	font-family: $default-font;
	font-size: 17px;
	font-weight: 600;
	line-height: 40px;
	color: #fff;
	display: block;
	border-radius: 3px;
	-web-kit-border-radius: 3px;
	width: 46%;
	background-color: #788492;
	margin: 29px auto;
	text-align: center;
	transition: all 0.3s ease;

	&:hover{
		background-color: $hover-color-blue;
		transition: all 0.3s ease;
	}
}