.header{
	width: 100%;
	z-index: 10000;
	background-color: #fff;
	line-height: 24px;
}

.header__logo-box{
	float: left;
}

.header__logo{
	font-family: "Lobster1.4";
	font-size: 43px;
	font-weight: 400;
	margin: 35px 0;

	a{
		color: #44c0c2;
	}
}

.header__nav{
	float: right;
	font-size: 15px;
}

.header__menu-ico{
	display: none;
}

.nav__item{
	float: left;

	&.active .nav__link{
		background-color: #f8f9fb;
		color: $hover-color-blue;

		&:before{
			display: inline-block;
		}
	}
}

.nav__link{
	position: relative;
	color: #484c55;
	display: inline-block;
	padding: 37px 25px 38px;

	&:hover{
		background-color: #f8f9fb;
		color: $hover-color-blue;
	}

	&:before{
		content: "";
		position: absolute;
		display: none;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: $hover-color-blue;
	}

	&:hover:before{
		display: inline-block;
	}
}